@font-face {
  font-family: "Basier Square Narrow";
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url(/assets/fonts/basiersquarenarrow-regular-webfont.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Basier Square Narrow";
  font-weight: 400;
  font-style: italic;
  font-display: block;
  src: url(/assets/fonts/basiersquarenarrow-regularitalic-webfont.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Basier Square Narrow";
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url(/assets/fonts/basiersquarenarrow-bold-webfont.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Basier Square Narrow";
  font-weight: 700;
  font-style: italic;
  font-display: block;
  src: url(/assets/fonts/basiersquarenarrow-bolditalic-webfont.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url(/assets/fonts/iosevka-custom-regular.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-weight: 400;
  font-style: italic;
  font-display: block;
  src: url(/assets/fonts/iosevka-custom-italic.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url(/assets/fonts/iosevka-custom-bold.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-weight: 700;
  font-style: italic;
  font-display: block;
  src: url(/assets/fonts/iosevka-custom-bolditalic.subset.woff2) format("woff2");
}
