:root {
  --font-serif: Georgia, ui-serif, Cambria, Times New Roman, Times, serif;
  --font-sans-serif: Basier Square Narrow, Arial Narrow, Arial, sans-serif;
  /* TODO: Add more fallbacks... */
  --font-monospace: Iosevka Web, Consolas, monospace;

  --color-bg-primary: #fdfdfa;
  --color-bg-secondary: #f3c6d1;
  /* --color-bg-secondary: #ffa4ba; */
  --color-bg-tertiary: #fedada;
  --color-bg-quaternary: #f8eaea;
  --color-fg-primary: #301940;
  --color-fg-secondary: #83758c;
  --color-fg-tertiary: #d6c9c5;
  /* TODO: Iterate on accent color. */
  /* --color-fg-accent: #44a9a7; */
  --color-fg-accent: #128886;

  --animation-timing-long: 0.3s;
  --animation-timing-default: 0.15s;
}

html {
  scroll-padding: 2rem 0;
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);
  font-size: 20px;
  font-family: var(--font-serif);
}

body {
  max-width: 620px;
  margin: 1rem auto;
  padding: 0 1.5rem 2rem;
  font-size: 1rem;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-family: var(--font-sans-serif);
  font-weight: normal;
}

section, article {
  overflow-wrap: break-word;
}

section h1 {
  font-size: 2em;
}

article h1 {
  font-size: 2rem;
}

article h1, article h2, article h3 {
  line-height: 1.2;
  margin-bottom: 0.4rem;
}

p {
  margin: 0 0 1rem;
}

blockquote {
  margin-left: 24px;
  padding-left: 24px;
  border-left: 4px solid var(--color-fg-secondary);
}

pre {
  margin: 1.5rem -1.5rem;
  padding: 1.5rem;
  overflow: auto;

  /* background-color: var(--color-bg-primary) !important; */
  color: var(--color-fg-primary);
  line-height: 1.5;
}

p + pre, p + ul {
  margin-top: -0.4rem;
}

li pre {
  margin-left: 0;
  margin-right: 0;
}

pre, code {
  font-family: var(--font-monospace);
  font-size: 0.9rem;
}

code {
  line-height: 1.125;
}

pre code {
  background-color: inherit;
  line-height: inherit !important;
}

code {
  background-color: var(--color-bg-quaternary);
}

li::marker {
  color: var(--color-fg-secondary);
}

mark {
  display: inline-block;
}

:target {
  outline: dotted;
  outline-offset: 0.3rem;
  outline-color: var(--color-fg-accent);
  outline-width: 3px;
  animation: remove-outline var(--animation-timing-long) 5s ease-in-out forwards;
}

@keyframes remove-outline {
  0% { outline-width: 3px; }
  100% { outline-width: 0; }
}

img {
  max-width: 100%;
  height: 100%;
}

a {
  color: var(--color-fg-primary);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition: color var(--animation-timing-default) ease-out,
              text-decoration var(--animation-timing-default) ease-out;
}

a:hover {
  color: var(--color-fg-accent);
  text-decoration-thickness: 3px;
}

::selection {
  color: var(--color-fg-primary);
  background-color: var(--color-bg-tertiary);
}

#nav + section, #nav + article {
  margin-top: 80px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (min-width: 720px) {
  html {
    font-size: 24px;
  }

  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  pre {
    border-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    margin: 1.5rem -24px;
    padding: 24px;
    border: 1px solid var(--color-fg-tertiary);
  }

  #nav + section, #nav + article {
    margin-top: 100px;
  }
}
