---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const { origin } = Astro.site!;
---
<DefaultLayout title="500" error={true}>
  <h1>500</h1>
  <p>An error has occurred.</p>
  <!-- ERROR -->
  <p><a class="home-link" href={`${origin}/`}>Head home?</a></p>
  <script is:inline>
    const newLink = document.createElement("a");
    newLink.textContent = "Reload";
    newLink.href = location.href;
    const newSpan = document.createElement("span");
    newSpan.textContent = " or ";
    const currLink = document.querySelector("a.home-link");
    const div = currLink.parentNode;
    div.insertBefore(newSpan, currLink);
    div.insertBefore(newLink, newSpan);
    currLink.textContent = "head home?";
  </script>
</DefaultLayout>
