---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout title="About">
  <h1>About</h1>
  <p>
    I’m Benjamin Tan, a software engineer hailing from Singapore.
    I’m passionate about using software to create meaningful products and experiences.
    I work primarily with modern web technologies these days, although I dabble with systems software occasionally.
  </p>
  <p>
    Currently, I’m studying Computer Science at the <a href="https://www.comp.nus.edu.sg/">National University of Singapore</a>.
    Some topics which have caught my interest lately include programming languages, distributed systems, databases, and cryptography.
  </p>
  <p>
    I enjoy reading and writing well-designed, elegant and performant code.
    During my free time, I contribute to and learn from the open source community.
    In the past, I’ve been a member of the <a href="https://lodash.com/">lodash</a>, <a href="https://github.com/bestiejs">BestieJS</a>, <a href="https://webtorrent.io/">WebTorrent</a>, and <a href="https://advisory.sg/">Advisory</a> teams, running the gamut of tasks including development, API design, bugfixes, documentation, issue triaging and website maintenance.
  </p>
  <p>
    Professionally, I’ve worked at <a href="https://mobbin.com/">Mobbin</a> and <a href="https://mediapop.co/">Media Pop</a>, contributing to the design and implementation of interactive web experiences.
  </p>
  <p>
    Aside from staring at computers, you can typically find me face-deep in a book, plugged into a pair of headphones nodding to <a href="https://music.ofcr.se/">music</a>, or in some cases just nodding off.
  </p>
  <h2>About this site</h2>
  <p>
    This site is a static site built using <a href="https://astro.build/">Astro</a>.
    It runs on a custom <a href="https://github.com/tokio-rs/axum">Axum-based</a> server deployed on <a href="https://fly.io/">Fly.io</a>.
  </p>
  <p>
    Why is it called <em>ofcrse</em>? Who knows? I bought the domain way too long ago, and now I’m stuck with it.
  </p>
  <p>
  </p>
  <h2 id="contact">Contact</h2>
  <p>
    Want to get in touch? You can find me <a href="https://twitter.com/bnjmnt4n">on Twitter</a> or <a href="mailto:benjamin@ofcr.se">via email</a>.
  </p>
</DefaultLayout>
