---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Date from "../components/Date.astro";
import TwitterIcon from "../components/icons/TwitterIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";
import { getArticles } from "../utils/getArticles";

const articles = await getArticles();
---
<style>
  p.tagline {
    font-size: 2em;
    line-height: 1.4;
    font-family: var(--font-sans-serif);
  }

  nav ul {
    display: flex;
    gap: 1.2rem;
    padding-left: 0;
    list-style: none;

    font-family: var(--font-sans-serif);
    font-size: 1.3em;
    line-height: 1;
  }

  nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 12px;
    text-decoration: none;
    border-bottom: 1px solid var(--color-fg-accent);
    transition: border var(--animation-timing-default) ease-out;
  }

  nav a:hover {
    border-bottom-width: 3px;
    color: var(--color-fg-primary);
  }

  :global(svg) {
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    top: -0.08rem;
  }

  nav a:hover :global(svg.icon-twitter) {
    color: #1DA1F2;
  }

  nav a:hover :global(svg) {
    animation: vibrate var(--animation-timing-default) 3s ease-in-out forwards 2;
  }

  @keyframes vibrate {
    0% { transform: translate(0, 0) rotate(0); }
    25% { transform: translate(2px, 2px) rotate(4deg); }
    50% { transform: translate(0, 0) rotate(0); }
    75% { transform: translate(-2px, 2px) rotate(-4deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }

  h2 {
    margin: 4rem 0 1rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: -0.01rem;
  }

  section {
    font-size: 0.9rem;
  }

  section header {
    display: flex;
    gap: 12px;
    align-items: end;
  }

  section header h3 {
    margin-top: 0;
  }

  section header :global(time) {
    font-family: var(--font-sans-serif);
    font-size: 0.8rem;
    color: var(--color-fg-secondary);
  }

  @media (min-width: 720px) {
    p.tagline span {
      display: inline-block;
    }
  }
</style>
<DefaultLayout>
  <p class="tagline">
    <span>Hi, I’m <strong>Benjamin Tan</strong>,</span>{" "}
    <span>a software engineer from Singapore.</span><br />
    <span>I build products &amp; construct experiences using modern web technologies.</span>
  </p>
  <nav>
    <ul>
      <li><a class="twitter" href="https://twitter.com/bnjmnt4n"><span>Twitter</span> <TwitterIcon /></a></li>
      <li><a href="https://github.com/bnjmnt4n"><span>GitHub</span> <GitHubIcon /></a></li>
      <li><a href="mailto:benjamin@ofcr.se"><span>Email</span> <EmailIcon /></a></li>
    </ul>
  </nav>

  <h2>Writing</h2>
  {articles.map((article) => (
    <section>
      <header>
        <h3><a href={`${article.slug}`}>{article.data.title}</a></h3>
        <Date date={article.data.publishedAt!} />
      </header>
      <p>{article.data.description}</p>
    </section>
  ))}
</DefaultLayout>
