---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const { origin } = Astro.site!;
---
<DefaultLayout title="404" error={true}>
  <h1>404</h1>
  <p>
    The link you’re looking for couldn’t be found.
  </p>
  <p>
    <a href={`${origin}/`}>Head home?</a>
  </p>
</DefaultLayout>
