name: Build

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  build-site:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build site
        run: nix build .#${{ github.ref == 'refs/heads/main' && 'site' || 'siteDev' }}
      - name: Archive site
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: result/dist

  build-server:
    name: Build server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build server
        run: nix build .#server
      - name: Archive binary
        uses: actions/upload-artifact@v4
        with:
          name: ofcrse
          path: result/bin/ofcrse

  deploy:
    name: Deploy site
    needs: [build-site, build-server]
    if:
      ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev') }}
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4

      - name: Read app name
        uses: SebRollen/toml-action@v1.2.0
        id: app_name
        with:
          file: fly.toml
          field: app

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Authenticate to Fly.io registry
        uses: docker/login-action@v3
        with:
          registry: registry.fly.io
          username: x
          password: ${{ secrets.FLY_API_TOKEN }}

      - name: Build and push Docker image
        run: |
          nix build .#${{ github.ref == 'refs/heads/main' && 'dockerImage' || 'dockerImageDev' }}
          ./result | docker load
          docker push registry.fly.io/$APP_NAME:${{ github.sha }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          APP_NAME: ${{ github.ref == 'refs/heads/main' && steps.app_name.outputs.value || format('{0}-dev', steps.app_name.outputs.value) }}

      - name: Deploy to ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev' }}
        run: flyctl deploy --app $APP_NAME --image registry.fly.io/$APP_NAME:${{ github.sha }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          APP_NAME: ${{ github.ref == 'refs/heads/main' && steps.app_name.outputs.value || format('{0}-dev', steps.app_name.outputs.value) }}
